alabaster 
anaconda-client==1.7.2
anaconda-navigator==2.0.3
anaconda-project 
anyio 
appdirs==1.4.4
argh==0.26.2
argon2-cffi 
asn1crypto 
astroid 
astropy 
async-generator 
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref==1.0.post1
batchbald-redux==2.0.5
bcrypt==3.2.0
beautifulsoup4 
bitarray 
bkcharts==0.2
black==19.10b0
blackhc.project==2.4.0
bleach 
bokeh 
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
click 
cloudpickle 
clyent==1.2.2
colorama 
conda==4.11.0
conda-build==3.21.4
conda-content-trust 
conda-package-handling 
conda-repo-cli 
conda-token 
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography 
cycler==0.10.0
Cython 
cytoolz==0.11.0
dask 
decorator 
defusedxml 
diff-match-patch 
distributed 
docutils 
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
fastcore==1.3.29
fastrelease==0.1.12
ffmpeg==1.4
filelock 
flake8 
Flask 
fs==2.4.13
fs.sshfs==1.0.0
fsspec 
future==0.18.2
gevent 
ghapi==0.1.19
gitdb==4.0.9
GitPython==3.1.24
glob2 
gmpy2==2.0.8
GPy==1.10.0
gpytorch==1.0.1
greenlet 
h5py==2.10.0
HeapDict==1.0.1
html5lib 
idna 
imageio 
imagesize 
importlib-metadata 
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous 
jdcal==1.4.1
jedi 
jeepney 
Jinja2 
joblib 
json5==0.9.5
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-packaging 
jupyter-server
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
keyring 
kiwisolver 
laaos==2.1.1
lazy-object-proxy 
libarchive-c 
llvmlite==0.36.0
locket==0.2.1
lxml 
MarkupSafe==1.1.1
matplotlib 
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.0
mkl-random 
mkl-service==2.3.0
mock 
more-itertools 
mpmath==1.2.1
msgpack 
multipledispatch==0.6.0
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic 
nbclient 
nbconvert==6.4.4
nbdev==1.2.2
nbformat 
nest-asyncio 
networkx 
nltk 
nose 
notebook 
numba 
numexpr 
numpy 
numpydoc 
olefile==0.46
openpyxl 
packaging 
pandas==1.2.4
pandocfilters 
paramiko==2.8.0
paramz==0.9.5
parso==0.7.0
partd 
path 
pathlib2 
pathspec==0.7.0
patsy==0.5.1
pep8==1.7.1
pexpect 
pickleshare 
Pillow 
pkginfo==1.7.0
plotly==5.5.0
pluggy 
ply==3.11
prometheus-client 
prompt-toolkit 
property-cached==1.6.4
protobuf==3.19.4
psutil 
ptyprocess 
py 
pycodestyle 
pycosat==0.6.3
pycparser 
pycurl==7.43.0.6
pydocstyle 
pyerfa 
pyflakes 
scikit-learn 
Pygments 
pylint 
pyls-black 
pyls-spyder 
PyNaCl==1.4.0
pyodbc===4.0.0-unsupported
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
pytest==6.2.3
python-dateutil 
python-jsonrpc-server 
python-language-server 
pytz 
PyWavelets 
pyxdg 
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome 
qtconsole 
QtPy==1.9.0
regex 
requests 
rope 
Rtree 
ruamel-yaml-conda 
sacremoses==0.0.47
scikit-image==0.18.1
scipy 
seaborn 
SecretStorage 
Send2Trash 
sentencepiece==0.1.96
simplegeneric==0.8.1
SimpleITK==2.1.1
singledispatch 
sip==4.19.13
six 
smmap==5.0.0
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy 
statsmodels 
sympy 
tables==3.6.1
tblib 
tenacity==8.0.1
terminado==0.9.4
testpath 
textdistance 
threadpoolctl 
three-merge 
tifffile==2020.10.1
tokenizers==0.9.2
toma==1.1.0
toml 
toolz 
torch==1.10.0
torchvision==0.11.1
tornado 
tqdm 
traitlets 
transformers==3.4.0
typed-ast 
typing-extensions 
ujson 
unicodecsv==0.14.1
urllib3 
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug 
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer 
xlrd 
XlsxWriter 
xlwt==1.3.0
xmltodict 
yapf 
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface 
